body {
  background-color: #5a4e4e;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box > input {
  width: 400px;
  height: 25px;
  border-radius: 10px;
  background-color: beige;
  font-size: 20px;
  font-family: arial;
  color: #5a4e4e;
}

.search-box > button {
  width: 65px;
  height: 32px;
  border-radius: 15px;
  margin: 10px;
  background-color: #393030;
  color: beige;
  font-size: inherit;
  transition: all 250ms;
}

.search-box > button:hover {
  background-color: beige;
  color: #5a4e4e;
}

.show-box {
  display: none;
  justify-content: center;
  margin: 5% auto;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px 40px;
}

.gallery {
  overflow: hidden;
  width: 1000px;
}

.gallery ul {
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.clip-card {
  width: 230px;
  height: 300px;
  display: block;
  margin: 10px 10px;
  border-radius: 7%;
  opacity: .8;
  transition: all 400ms;
}

.clip-card:hover {
  transform: scale(1.03);
  opacity: 1;
  cursor: pointer;
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #393030;
  text-align: center;
  padding: 15px 0;
  color: wheat;
  margin: 20px;
  box-sizing: border-box;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background-color: beige;
  color: #1b1919;
  cursor: pointer;
}

.gallery li {
  display: inline-block;
}




