.show-box {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px 40px;
  /*border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
  */
}

.gallery {
  overflow: hidden;
  width: 1000px;
}

.gallery ul {
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.clip-card {
  width: 230px;
  height: 300px;
  display: block;
  margin: 0 10px;
  border-radius: 10%;
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #818080;;
  text-align: center;
  padding: 15px 0;
  color: wheat;
  margin: 20px;
  box-sizing: border-box;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.gallery li {
  display: inline-block;
}




